{% extends 'base.html' %}

{% block body_block %}
    <form id="login_form" class="form-signin" role="form" method="post" action="/auth/login/">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        {% if error %}
            <div>Username or Password is wrong</div>
            <input class="form-control" type="text" name="username" placeholder="Username" value="{{username}}"/>
        {% else %}
            <input class="form-control" type="text" name="username" placeholder="Username" value=""/>
        {% endif %}
            <input class="form-control" type="password" placeholder="Password" name="password" value="">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <a class="btn btn-lg btn-primary btn-block" href="/auth/register">Register</a>
            <a class="btn btn-lg btn-primary btn-block" href="/auth/password/reset">Password reset</a>
    </form>
    <div class="fb-login-button btn-block row text-center" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>

{% endblock %}