{% extends 'base.html' %}

{% block body_block %}
    Hello. My name is Login.

    <form id="login_form" method="post" action="/auth/login/">
        {% csrf_token %}

        {% if error %}
        	<div>Username or Password is wrong</div>
        	Username: <input type="text" name="username" value="{{username}}" size="50" />
        {% else %}
        	Username: <input type="text" name="username" value="" size="50" />
        {% endif %}
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />

        <input type="submit" value="Submit" />
    </form>

{% endblock %}