{% extends 'base.html' %}

{% load apptags %}

{% block navigation_block %}{% endblock %} <!-- empty -->

{% block body_block %}
    <form id="user_form" class="form-register" role="form" method="post" action="/auth/register/">
        {% csrf_token %}
        <h2 class="form-register-heading">Register</h2>

        <div>
        {{ user_form.username|addattributes:"{\"class\": \"form-control\", \"placeholder\": \"Username\"}"}}
		{{ user_form.errors.username }}
        </div>
        <div>
        {{ user_form.email|addattributes:"{\"class\": \"form-control\", \"placeholder\": \"Email\", \"type\": \"email\"}"}}
        {{ user_form.errors.email }}
        </div>
        <div>
        {{ user_form.password|addattributes:"{\"class\": \"form-control\", \"placeholder\": \"Password\"}"}}
        {{ user_form.errors.password }}
		</div>

        {{ profile_form.as_p }}


        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>  
{% endblock %}
