<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}Project Title{% endblock %}</title>
    </head>

    <body>
        <div>
            {% block body_block %}Body block{% endblock %}
        </div>


	    Here are some links:
	    <h3>App</h3>
	    <ul>
	    	<li><a href="/">Index page</a></li>
	    </ul>

	    <h3>Authentication</h3>
	    <ul>
	    	<li><a href="/auth/login">Login page</a></li>
	    	<li><a href="/auth/register">Register page</a></li>
	    	<li><a href="/auth/logout">Logout page</a></li>
	    	<li><a href="/auth/password/reset">Forgot page</a></li>
	    </ul>

	    <h3>Administration</h3>
	    <ul>
	    	<li><a href="/admin">Admin page</a></li>
	    </ul>	    

    </body>
</html>