{% load static %}
<!DOCTYPE html>

<html>
<head>
    <title>{% block title %}Glasgow Weekly Challenge{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/jquery-2.1.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=514505522003966";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container">

    {% block navigation_block %}
        {% include 'navigation.html' %}
    {% endblock %}

    {% block body_block %}Body block{% endblock %}

    Here are some links:

    <h3>Authentication</h3>
    <ul>
        <li><a href="/auth/login">Login page</a></li>
        <li><a href="/auth/register">Register page</a></li>
        <li><a href="/auth/logout">Logout page</a></li>
        <li><a href="/auth/password/reset">Forgot page</a></li>
    </ul>

    <h3>Administration</h3>
    <ul>
        <li><a href="/admin">Admin page</a></li>
    </ul>
</div>
</body>
</html>