{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Minerva</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
	<meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<!--link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.min.css" /-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!--script src="static/js/bootstrap.min.js"></script-->
	<!--[if lt IE 9]><script src="{% static 'js/html5shiv.js' %}"></script><![endif]-->

	<script>
		$(document).ready(function(){
			$('nav span').click(function(){
				$(this).toggleClass('ticked');
			});
		});
	</script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {

  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav>
	Hi Reinis, save Glasgow! <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
	<aside>Share!</aside>
</nav>

<section id="challenge">
	<header>
		<h1>GreenUp Weekly Challenge</h1>
	</header>
	<h1 id="task">Convince 7 people to install 1 LED lightbulb in their home.</h1>
</section>

<section id="desc">
	<article>
		<p><strong>Why?</strong>
            Installing a single LED lightbulb might reduce your energy consumption significantly,
            saving you as much as £10 per year as a nice bonus. When bought on usual terms, it will
            become worth the price in 18 months, while its lifespan is more than 20 years.
        </p><p>
            Nonetheless, people still are prejudiced against LEDs, deeming them expensive and "cold".
            By getting them to actually try one out, you can free people from old misconceptions.
        </p>
	</article>
	<article>
		<p><strong>How?</strong>
            It is up to you, but here are few suggestions. You can approach them directly and test how
            convincing you might be. However, we have secured you a deal through Phillips: enter a voucher
            <strong>PH1L3D43</strong> <a href="#">on their e-shop</a> to get one for free.
        </p><p>
            Another option is to use <a href="http://www.firstcallhomeassist.co.uk/led-light-bulbs/">this FirstCall Home assist scheme</a>
            that allows you to swap up to <strong>20</strong> old lightbulbs for brand new LEDs for free. It's sponsored
            by Scottish Government, so there is no catch to it.
        </p><p>
            Ultimately, be creative! It is a really tough task, but hey, that's why it is rewarding.
            <a href="#">Challenge your friends</a> to do the same, it's much more fun and effective this way!
        </p>
	</article>
	<article id="stats">
		<p>Glasgow saved to date <strong>£43 027</strong></p>
		<p>Your contribution: <strong>£5.77</strong></p>
		<p>Challenges took up: <strong>3</strong></p>
		<p>Challenges completed: <strong>2</strong></p>
		<div></div>
		<p><img src="{% static 'images/medal.png' %}" alt="award" />Never cook just for yourself</p>
		<p><img src="{% static 'images/medal.png'%}" alt="award" />Take out all the chargers when not charging</p>
	</article>
</section>

<section id="social">
	<h1>2 571 people took up this challenge!</h1>
    <h2>If they succeed, Glasgow saves £179 970 this year.</h2>
	<div class="fb-comments" data-href="http://gla.ac.uk" data-numposts="5" data-colorscheme="light"></div>
</section>




</body>
</html>