{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Minerva</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

	<link href="{% static 'css/styles2.css' %}" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!--[if lt IE 9]><script type="text/javascript" src="{% static 'js/html5shiv' %}"></script><![endif]-->

</head>
<body>

<div id="page">
<header><h1>minerva. be wise.</h1></header>

<section id="flat">
	<h1>Let's start by summarising what we have:</h1>
	<div>
		<button class="flat-btn">Flat</button>
		<button class="selected flat-btn">House</button>
		<select id="room-count">
			<option value="1">1 room</option>
			<option value="2">2 rooms</option>
			<option value="3">3 rooms</option>
			<option value="4">4 rooms</option>
			<option value="5">5 rooms</option>
			<option value="6">6 rooms</option>
			<option value="7">7 rooms</option>
			<option value="8">8+ rooms</option>
		</select>
	</div>
</section>

<section id="appliances">
	<h1>Click to add an appliance, hold to remove:</h1>
	<div>
		<button class="appl-btn selected ico-light-bulb">
			<div class="nr">18</div>
			<span>Light bulb</span>
		</button>
		<button class="appl-btn selected ico-boiler">
			<div class="nr">1</div>
			<span>Boiler</span>
		</button>
		<button class="appl-btn ico-tv-set">
			<div class="nr"></div>
			<span>TV set</span>
		</button>
		<button class="appl-btn ico-boiler">
			<div class="nr"></div>
			<span>Boiler</span>
		</button>
		<button class="appl-btn ico-boiler">
			<div class="nr"></div>
			<span>Boiler</span>
		</button>
		<button class="appl-btn ico-boiler">
			<div class="nr"></div>
			<span>Boiler</span>
		</button>
		<button class="appl-btn ico-boiler">
			<div class="nr"></div>
			<span>Boiler</span>
		</button>
		<button class="appl-btn ico-boiler">
			<div class="nr"></div>
			<span>Boiler</span>
		</button>
		<button class="appl-btn ico-boiler">
			<div class="nr"></div>
			<span>Boiler</span>
		</button>
	</div>
</section>

<section>
	<div>
		<button class="choice-btn">Add moar</button>
		<button class="choice-btn selected" onclick="window.location='profile.html'">I am done!</button>
	</div>
</section>

</div>

</body>
</html>